@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700&display=swap");

$Orange: #d87d4a;
$Light-Orange: #fbaf85;
$Almost-Black: #101010;
$Light-Gray: #f1f1f1;
$Very-Light-Gray: #fafafa;

@mixin btn {
  display: block;
  margin: 0 auto;
  background-color: $Orange;
  color: white;
  border: 0;
  font-size: 0.8125rem;
  text-transform: uppercase;
  padding: 15px 30px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
}

p {
  font-size: 15px;
  font-weight: 500;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: unset;
}

small {
  color: $Orange;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-top: 2rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1rem;
  letter-spacing: 1.3px;
  font-weight: 600;
}

h3 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.75rem;
  line-height: 38.25px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope";
}

header {
  background-color: $Almost-Black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  border-bottom: 1px solid #3d3d3d;
}

.hero {
  padding: 7rem 2rem;
  background-color: $Almost-Black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: bottom 0px left 0;
}

.hero small {
  text-transform: uppercase;
  letter-spacing: 10px;
  opacity: 50%;
}

.hero p {
  opacity: 75%;
  letter-spacing: 0.8px;
  margin-top: 1.5rem;
  text-align: center;
}

.hero button {
  @include btn;
  margin-top: 1.5rem;
}

.home-category-section {
  padding: 5.75rem 1.5rem 0;
}

.home-category-section,
.home-category-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-category-cards {
  list-style-type: none;
  gap: 4.25rem;
}

.home-category-card {
  width: 100%;
  background-color: $Light-Gray;
  position: relative;
  padding-bottom: 22px;
  border-radius: 8px;
  a {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.home-category-photo {
  position: relative;
  bottom: 50px;
  filter: drop-shadow(0px 20px 40px rgba(black, 0.5));
  width: 80px;
  display: block;
  margin: 0;
  background: transparent;
}

.home-category-name {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.07143px;
  font-size: 0.9375rem;
}

.shop-arrow-flex {
  display: flex;
  align-items: center;
  gap: 13.33px;
  padding-top: 1rem;
  cursor: pointer;
}

.home-category__shop {
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}

.product-highlight-a {
  background-color: $Orange;
  color: white;
  padding: 55px 1.5rem;
  margin: 7.5rem 1.5rem 0;
  border-radius: 8px;

  .img-container {
    padding: 50px;
    border: 1px solid rgba(white, 0.3);
    border-radius: 50%;
    position: relative;
  }
  .img-container::before {
    content: "";
    position: absolute;
    top: -7.5%;
    left: -7.5%;
    width: 115%;
    height: 115%;
    border: 1px solid rgba(white, 0.3);
    border-radius: 50%;
  }
  img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  h2 {
    padding-top: 2rem;
  }
  p {
    opacity: 0.75;
    line-height: 25px;
    letter-spacing: 0.2px;
    text-align: center;
    padding-top: 1.5rem;
  }
  button {
    @include btn;
    background-color: black;
    margin-top: 1.5rem;
  }
}

.product-highlight-b {
  padding: 100px 1.5rem;
  margin: 1.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  background-size: cover;
  button {
    @include btn;
    margin: 0;
    background-color: transparent;
    border: 1px solid black;
    color: black;
  }
}

.product-highlight-c {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1.5rem;
  & > * {
    border-radius: 8px;
  }
  img {
    width: 100%;
  }
  & > div {
    background-color: $Light-Gray;
    padding: 41px 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  button {
    @include btn;
    margin: 0;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    font-weight: 600;
  }
}

.about {
  margin: 7.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  img {
    width: 100%;
    border-radius: 8px;
  }
  h4 {
    font-weight: 700;
    font-size: 1.75rem;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
  }
  span {
    color: $Orange;
  }
  p {
    padding-top: 2rem;
    text-align: center;
    opacity: 50%;
    line-height: 25px;
  }
}

footer {
  background-color: black;
  padding: 3.25rem 1.5rem 2.375rem;
  .footer-nav {
    padding: 3rem 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  li {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
  }

  img {
    display: block;
    margin: 0 auto;
  }
  p {
    color: rgb(104, 102, 102);
    text-align: center;
    line-height: 25px;
  }
  small {
    padding: 3rem 0;
    font-weight: 700;
    color: rgb(104, 102, 102);
    font-size: 15px;
    display: block;
    text-align: center;
  }
  .footer-logos {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    & > * {
      cursor: pointer;
    }
  }
}

/* Category Page */

.category-page {
  margin: 1.5rem;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding: 1.75rem;
  letter-spacing: 2px;
}

.product-cards {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
}

.product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 100%;
  }

  h2 {
    padding-top: 1.5rem;
    font-size: 1.75rem;
    line-height: 38.25px;
  }
  p {
    text-align: center;
    font-size: 0.9375rem;
    opacity: 0.5;
    font-weight: 400;
    line-height: 25px;
    padding-top: 1.5rem;
  }
  button {
    @include btn;
    margin: 1.5rem 0 5rem;
  }
}

.product-detail {
  padding: 1rem 1.5rem;
  .go-back {
    cursor: pointer;
    opacity: 0.5;
    display: inline;
  }

  small {
    display: block;
    padding: 2rem 0 1.5rem;
  }

  &__desc {
    padding-top: 1.5rem;
    line-height: 25px;
    opacity: 0.5;
    font-size: 0.9375rem;
  }
  strong {
    font-size: 1.125rem;
    font-weight: 600;
    display: block;
    padding-top: 1.5rem;
  }
}

.product-detail-img {
  display: block;
  max-width: 100%;
  border-radius: 8px;
  padding-top: 1.5rem;
}

.amt-and-btn-flex {
  display: flex;
  gap: 1rem;
  justify-content: start;
  padding-top: 2rem;
  button {
    @include btn;
    margin: 0;
  }
}

.amt-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $Light-Gray;
  padding: 1rem;
  gap: 1.25rem;
  width: 120px;
}
