@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700&display=swap");
.btn--orange {
  display: block;
  border: 0;
  font-size: 0.8125rem;
  text-transform: uppercase;
  padding: 15px 30px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  background-color: #d87d4a;
  color: white;
}
.btn--orange:hover {
  background-color: #fbaf85;
}

.btn--black {
  display: block;
  border: 0;
  font-size: 0.8125rem;
  text-transform: uppercase;
  padding: 15px 30px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  background-color: black;
  color: white;
}
.btn--black:hover {
  background-color: #4c4c4c;
}

.btn--black-border {
  display: block;
  border: 0;
  font-size: 0.8125rem;
  text-transform: uppercase;
  padding: 15px 30px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid black;
  color: black;
}
.btn--black-border:hover {
  background-color: black;
  color: white;
}

.new-product {
  font-size: 0.875rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: gray;
  display: block;
}

.new-product--orange {
  font-size: 0.875rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: gray;
  display: block;
  color: #d87d4a;
}

.go-back {
  cursor: pointer;
  opacity: 0.5;
  display: inline;
}
.go-back:hover {
  color: #d87d4a;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

img {
  max-width: 100%;
  display: block;
}

h3,
h4 {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.75rem;
  line-height: 38.25px;
}

h4 {
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
}

*,
*::before,
*::after,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}

main {
  position: relative;
}

.header {
  background-color: #101010;
}

.header__container {
  background-color: #101010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  border-bottom: 1px solid #3d3d3d;
  height: 90px;
}
.header__container .hamburger,
.header__container .cart-icon {
  cursor: pointer;
}
.header__container .hamburger:hover,
.header__container .cart-icon:hover {
  filter: invert(80%) sepia(30%) saturate(6866%) hue-rotate(389deg) brightness(122%) contrast(82%);
}
.header__container .nav {
  display: none;
}

.hero {
  padding: 7rem 2rem;
  background-color: #101010;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: bottom 0px left 0px;
  background-image: url("/public/assets/home/mobile/image-header.jpg");
}
.hero__heading {
  font-size: 2.25rem;
  line-height: 40px;
  text-align: center;
  padding-top: 1rem;
  letter-spacing: 1.3px;
  font-weight: 600;
  max-width: 12ch;
}
.hero__p {
  opacity: 75%;
  letter-spacing: 0.8px;
  padding-top: 1.5rem;
  text-align: center;
}
.hero .btn {
  margin-top: 1.5rem;
}

.category-section {
  padding-top: 5.75rem;
  background-color: white;
  margin: 0 1.5rem;
}
.category-section__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 4.25rem;
}
.category-section.mobile {
  position: fixed;
  box-shadow: 0px 500px 10px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 0px 0px 8px 8px;
  width: 100%;
  margin: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2.25rem;
}

.category-section-card {
  width: 100%;
  background-color: #f1f1f1;
  position: relative;
  padding: 88px 0 22px;
  border-radius: 8px;
}
.category-section-card--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-section-card__img {
  position: absolute;
  bottom: 43.5%;
  width: 155px;
  display: block;
  margin: 0;
  background: transparent;
}
.category-section-card__name {
  font-weight: 600;
  letter-spacing: 1.07143px;
  font-size: 0.9375rem;
}
.category-section-card__shop-arrow {
  display: flex;
  align-items: center;
  gap: 13.33px;
  padding-top: 1rem;
  cursor: pointer;
}
.category-section-card__shop {
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}
.category-section-card:hover .category-section-card__shop {
  color: #d87d4a;
}

.product-highlights {
  display: flex;
  flex-direction: column;
  margin-top: 7.5rem;
  gap: 1.5rem;
}

.product-highlight-a {
  margin: 0 1.5rem;
  background-color: #d87d4a;
  color: white;
  padding: 55px 1.5rem;
  border-radius: 8px;
}
.product-highlight-a__img {
  background-image: url(/public/assets/home/mobile/image-speaker-zx9.png);
  width: 197.21px;
  height: 237px;
  background-size: cover;
  margin: 0 auto;
}
.product-highlight-a__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-highlight-a__name {
  padding-top: 2rem;
  line-height: 40px;
  font-size: 2.25rem;
  text-align: center;
}
.product-highlight-a__p {
  opacity: 0.75;
  line-height: 25px;
  letter-spacing: 0.2px;
  text-align: center;
  padding-top: 1.5rem;
  max-width: 23rem;
}
.product-highlight-a .btn {
  margin-top: 1.5rem;
}

.product-highlight-b {
  padding: 100px 1.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  background-image: url(/public/assets/home/mobile/image-speaker-zx7.jpg);
  background-size: cover;
  margin: 0 1.5rem;
}

.product-highlight-c {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 1.5rem;
}
.product-highlight-c__img {
  border-radius: 8px;
  background-size: cover;
  background-image: url(/public/assets/home/mobile/image-earphones-yx1.jpg);
  height: 200px;
}
.product-highlight-c__main {
  border-radius: 8px;
  background-color: #f1f1f1;
  padding: 41px 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.about {
  margin: 7.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.about__img {
  width: 100%;
  height: 327px;
  border-radius: 8px;
  background-image: url(/public/assets/shared/mobile/image-best-gear.jpg);
  background-size: cover;
}
.about__heading {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1px;
}
.about__heading--highlight {
  color: #d87d4a;
}
.about__p {
  padding-top: 2rem;
  text-align: center;
  opacity: 50%;
  line-height: 25px;
}

.footer {
  background-color: black;
  padding: 3.25rem 1.5rem 2.375rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__orange-line {
  width: 100px;
  height: 4px;
  background-color: #d87d4a;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.footer__p {
  color: rgb(104, 102, 102);
  text-align: center;
  line-height: 25px;
  font-size: 0.9375rem;
}
.footer__copyright-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  gap: 3rem;
}
.footer__copyright {
  font-weight: 700;
  color: rgb(104, 102, 102);
  font-size: 15px;
  display: block;
  text-align: center;
}
.footer__logos {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer__logos__logo {
  cursor: pointer;
}
.footer__logos__logo:hover {
  filter: invert(80%) sepia(30%) saturate(6866%) hue-rotate(389deg) brightness(122%) contrast(82%);
}

.nav {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.nav__item {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
  color: white;
}
.nav__item:hover {
  color: #d87d4a;
}

/*** Category Page (ie. HEADPHONERS, SPEAKERS, EARPHONES ***/
.category__heading {
  padding-top: 1.5rem;
  font-size: 1.75rem;
  line-height: 38.25px;
  padding: 1.5rem 1.75rem 1.75rem;
  text-align: center;
  background-color: black;
  color: white;
  letter-spacing: 2px;
}

.category-page__cards {
  margin: 1.5rem 1.5rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
}

.category-page-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-page-card__name {
  text-align: center;
}
.category-page-card .new-product--orange {
  margin-bottom: 1.5rem;
}
.category-page-card__img {
  margin-bottom: 2rem;
  border-radius: 8px;
}
.category-page-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-page-card__desc {
  text-align: center;
  font-size: 0.9375rem;
  opacity: 0.5;
  font-weight: 400;
  line-height: 25px;
  padding-top: 1.5rem;
}
.category-page-card .btn {
  margin-top: 1.5rem;
}

/*** Product Detail Page ***/
.product-detail {
  padding: 1rem 1.5rem;
}
.product-detail__go-back {
  cursor: pointer;
  opacity: 0.5;
  display: inline;
}
.product-detail__go-back:hover {
  color: #d87d4a;
}
.product-detail__product-img {
  border-radius: 8px;
  margin: 1.5rem 0 0;
  width: 100%;
}
.product-detail__product-img.new {
  margin-bottom: 2rem;
}
.product-detail__name {
  padding-top: 2.5rem;
}
.product-detail__name.new {
  padding-top: 1.5rem;
}
.product-detail__p {
  padding-top: 1.5rem;
  line-height: 25px;
  opacity: 0.5;
  font-size: 0.9375rem;
  white-space: pre-wrap;
}
.product-detail__price {
  font-size: 1.125rem;
  font-weight: 600;
  display: block;
  padding-top: 1.5rem;
}
.product-detail__amount-and-btn {
  display: flex;
  gap: 1rem;
  justify-content: start;
  padding-top: 2rem;
}
.product-detail__features-box-flex {
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
  margin-top: 5.5rem;
}
.product-detail .center {
  text-align: center;
}
.product-detail__includes {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product-detail__includes-item {
  display: flex;
  align-items: center;
  gap: 21px;
}
.product-detail__includes-item__amount {
  color: #d87d4a;
  width: 20px;
  font-weight: 700;
}
.product-detail__includes-item__name {
  flex: 1;
  opacity: 0.5;
}
.product-detail__images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  margin-top: 5.5rem;
}
.product-detail__images img {
  border-radius: 8px;
}
.product-detail__others {
  margin-top: 5.5rem;
}
.product-detail__others-ul {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding: 2.5rem 0 0;
}
.product-detail__other {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-detail__other__name {
  padding: 2rem 0;
}
.product-detail__other__img {
  border-radius: 8px;
}

.quantity-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 1rem;
  gap: 1.25rem;
  width: 120px;
  font-weight: 700;
}
.quantity-bar__operator {
  opacity: 0.5;
  cursor: pointer;
}
.quantity-bar__operator:hover {
  color: #d87d4a;
}

.cart {
  z-index: 3;
  position: fixed;
  left: 50%;
  top: calc(90px + 1.5rem);
  transform: translateX(-50%);
  background-color: white;
  padding: 2rem 1.75rem;
  border-radius: 8px;
  width: calc(100% - 3rem);
  max-width: 377px;
  box-shadow: 0px 300px 10px 10000px rgba(0, 0, 0, 0.5);
}
.cart__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart__heading {
  background-color: white;
  color: black;
  font-size: 1.125rem;
  padding: 0;
  letter-spacing: 1.29px;
}
.cart__remove-all {
  border: 0;
  opacity: 0.5;
  background-color: white;
  text-decoration: underline;
  text-decoration-thickness: 0.01em;
  font-size: 0.9375rem;
  cursor: pointer;
}
.cart__remove-all:hover {
  color: #d87d4a;
}
.cart__empty {
  text-align: center;
  padding-top: 1rem;
}
.cart__rows {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.cart__row {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cart__name-and-price {
  margin-right: auto;
}
.cart__price {
  opacity: 0.5;
  font-weight: 700;
}
.cart__img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
}
.cart .btn {
  width: 100%;
  margin-top: 1.5rem;
}

.total-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 1.125rem;
}
.total-flex__item {
  font-size: 0.9375rem;
  opacity: 0.5;
  text-transform: uppercase;
}

.checkout {
  background-color: #fafafa;
  padding: 1rem 1.5rem;
}

.checkout__main {
  background-color: #fff;
  margin-top: 1.5rem;
  padding: 1.5rem 1.5rem 2rem;
  border-radius: 8px;
}
.checkout__main__heading {
  padding-bottom: 0;
  font-size: 1.75rem;
  letter-spacing: 1px;
}
.checkout__main__subheading {
  color: #d87d4a;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: 0.93px;
  display: block;
  padding-top: 2rem;
}
.checkout__main__label {
  font-size: 0.75rem;
  display: block;
  padding-top: 1rem;
  font-weight: 700;
}
.checkout__main__radio-label {
  padding-left: 21px;
}
.checkout__main__input {
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  padding: 1.125rem 1.5rem;
  font-size: 0.875rem;
}
.checkout__main__input:focus {
  outline: 0;
}
.checkout__main__input:not(.checkout__main__input--radio) {
  margin-top: 9px;
  display: block;
  width: 100%;
}
.checkout__main__radio-container {
  margin-top: 9px;
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  align-items: center;
  justify-content: start;
  font-size: 13px;
  padding: 1.125rem 1.5rem;
  position: relative;
}
.checkout__main__radio-container:last-of-type {
  margin: 1rem 0;
}
.checkout__main__radio-label {
  font-weight: 700;
  font-size: 0.875rem;
  cursor: pointer;
  padding-left: 4rem;
  margin-left: -2rem;
  z-index: 2;
}
.checkout__main__input--radio {
  display: none;
}
.checkout__main span {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #cfcfcf;
  display: block;
  position: absolute;
  left: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}
.checkout__main span::after {
  content: "";
  height: 10px;
  width: 10px;
  background: #d87d4a;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
}
.checkout__main__input--radio:checked ~ span::after {
  transform: translate(-50%, -50%) scale(1);
}

.checkout__summary {
  padding: 2rem 1.5rem;
  background-color: #fff;
  margin: 2rem 0 6rem;
  border-radius: 8px;
}
.checkout__summary__heading {
  font-size: 1.125rem;
  letter-spacing: 1.129px;
}
.checkout__summary__name, .checkout__summary__quantity {
  font-weight: 700;
}
.checkout__summary__cart-ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 2rem;
}
.checkout__summary__li {
  display: flex;
  gap: 1rem;
}
.checkout__summary__info-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.checkout__summary__name-quantity-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.checkout__summary__img {
  width: 4rem;
  max-height: 4rem;
  border-radius: 8px;
}
.checkout__summary__quantity {
  margin-left: auto;
  color: #979797;
}
.checkout__summary__review-ul {
  padding-top: 2rem;
}
.checkout__summary__review-ul .total-flex {
  margin-top: 0.5rem;
}
.checkout__summary__review-ul .total-flex:last-of-type {
  margin-top: 1.5rem;
}
.checkout__summary__review-ul .total-flex:last-of-type strong {
  color: #d87d4a;
}
.checkout__summary .btn {
  width: 100%;
  margin-top: 2rem;
}

.conf-modal {
  z-index: 3;
  position: fixed;
  left: 50%;
  top: calc(90px + 1.5rem);
  transform: translateX(-50%);
  background-color: white;
  padding: 2rem 1.75rem;
  border-radius: 8px;
  width: calc(100% - 3rem);
  max-width: 377px;
  box-shadow: 0px 300px 10px 10000px rgba(0, 0, 0, 0.5);
}
.conf-modal__heading {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  line-height: 28px;
}
.conf-modal__p {
  color: #4c4c4c;
  padding-top: 1rem;
  line-height: 25px;
  font-size: 0.9375rem;
}
.conf-modal__flex {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}
.conf-modal__flex--light {
  background-color: #f1f1f1;
  padding: 1.5rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.conf-modal__flex--light-btm {
  text-align: center;
  font-size: 0.75rem;
  padding-top: 0.75rem;
  font-weight: 600;
  color: #4c4c4c;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}
.conf-modal .checkout__summary__cart-ul {
  padding-top: 0;
}
.conf-modal .summary__quantity,
.conf-modal .checkout__cart__price {
  color: #4c4c4c;
  font-weight: 600;
}
.conf-modal__flex--dark {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: black;
  padding: 1rem 1.5rem 1.25rem;
}
.conf-modal__total-heading {
  color: #979797;
  text-transform: uppercase;
  font-weight: 300;
}
.conf-modal__total {
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
  padding-top: 0.5rem;
}
.conf-modal .btn--orange {
  margin-top: 1.5rem;
  width: 100%;
}

/*
******************************************
Tablet
******************************************
*/
@media (min-width: 750px) {
  .header {
    gap: 2.625rem;
    margin: 0;
  }
  .header__container {
    justify-content: space-between;
  }
  .hero {
    background-image: url("/public/assets/home/tablet/image-header.jpg");
    padding: 7.875rem 10.3125rem 10.5rem;
  }
  .hero__heading {
    font-size: 3.5rem;
    line-height: 3.6125rem;
    padding-top: 1.5rem;
  }
  .hero__p {
    padding-top: 1.5rem;
    line-height: 25px;
    max-width: 400px;
  }
  .home {
    margin: 0 2.5rem;
  }
  .header {
    margin: 0;
  }
  .category-section {
    padding: 9.25rem 0 0;
    margin-left: 0;
    margin-right: 0;
  }
  .category-section__cards {
    gap: 0.6125rem;
    flex-direction: row;
  }
  .category-section.mobile {
    padding-top: 6.75rem;
    box-shadow: 0px 300px 10px 10000px rgba(0, 0, 0, 0.5);
  }
  .product-highlights {
    gap: 2rem;
  }
  .product-highlight-a,
.product-highlight-b,
.product-highlight-c {
    margin: 0;
  }
  .product-highlight-a__name {
    font-size: 3.5rem;
    line-height: 3.6125rem;
  }
  .product-highlight-a__img {
    background-image: url(/public/assets/home/tablet/image-speaker-zx9.png);
  }
  .product-highlight-b {
    background-image: url(/public/assets/home/tablet/image-speaker-zx7.jpg);
    padding: 100px 3.875rem;
  }
  .product-highlight-c {
    flex-direction: row;
    gap: 11px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-highlight-c__img {
    background-image: url(/public/assets/home/tablet/image-earphones-yx1.jpg);
    background-position: center center;
    height: 100%;
  }
  .product-highlight-c__main {
    padding: 100px 40px;
  }
  .about {
    margin-left: 0;
    margin-right: 0;
    gap: 4rem;
  }
  .about__img {
    background-image: url(/public/assets/shared/tablet/image-best-gear.jpg);
    background-position: center;
  }
  .about__heading {
    padding-top: 0;
    font-size: 2.5rem;
    line-height: 2.75rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  .about__p {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  .nav {
    padding: 2rem 0;
    flex-direction: row;
    gap: 2.125rem;
  }
  .footer {
    padding: 3.75rem 2.5rem 2.875rem;
    align-items: flex-start;
  }
  .footer .orange-line {
    transform: unset;
    left: 2.5rem;
  }
  .footer__copyright-logos {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__p {
    text-align: left;
  }
  .category__heading {
    font-size: 2.5rem;
    padding: 105px 0 97px;
  }
  .category-page {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  .category-page__cards {
    margin: 7.5rem 0 0;
  }
  .category-page-card__picture {
    width: 100%;
  }
  .category-page-card__img {
    width: 100%;
    height: auto;
    margin-bottom: 3.25rem;
  }
  .category-page-card .new-product--orange {
    margin-bottom: 1rem;
  }
  .category-page-card__name {
    font-size: 2.5rem;
    line-height: 44px;
    max-width: 300px;
    text-align: center;
    padding-top: 0;
  }
  .category-page-card__desc {
    max-width: 565px;
  }
  .category-section {
    padding-top: 10.75rem;
  }
  .about__heading {
    margin: 0 5rem;
  }
  .footer__orange-line {
    transform: none;
    left: 2.5rem;
  }
  .product-detail {
    padding: 2rem 2.5rem;
  }
  .product-detail__main-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.375rem;
  }
  .product-detail__subheading {
    text-align: left;
  }
  .product-detail__features-box-flex__in-the-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .product-detail__features-box-flex__in-the-box > * {
    padding-top: 0;
  }
  .product-detail__images {
    display: grid;
    grid-template: 1fr 1fr/0.7fr 1fr;
  }
  .product-detail__images--third {
    grid-row: 1/span 2;
    grid-column: 2;
  }
  .product-detail__others-ul {
    flex-direction: row;
    gap: 11px;
  }
  .cart {
    position: fixed;
    left: 50%;
    transform: translateX(0%);
    right: 2.5rem;
    margin-left: auto;
  }
  .checkout__main__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 1rem;
  }
  .checkout__main__address {
    grid-column: 1/3;
  }
  .checkout__main__cash-on-d {
    grid-column: 2/3;
  }
  .conf-modal {
    max-width: 540px;
  }
  .conf-modal__heading {
    margin-top: 2rem;
    font-size: 2rem;
    line-height: 36px;
  }
  .conf-modal__flex {
    flex-direction: row;
    width: 100%;
  }
  .conf-modal__flex--light {
    border-radius: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .conf-modal .summary__quantity {
    margin-left: 2.625rem;
  }
  .conf-modal__flex--dark {
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/*
******************************************
Desktop
******************************************
*/
@media (min-width: 1200px) {
  .header {
    background-color: #191919;
    padding: 0 10.3125rem;
  }
  .header .nav {
    display: flex;
  }
  .header__container {
    background-color: #191919;
    padding: 0;
  }
  .header .hamburger {
    display: none;
  }
  .home {
    margin-left: 10.3125rem;
    margin-right: 10.3125rem;
  }
  .hero {
    background-image: url("/public/assets/home/desktop/image-hero.jpg");
    align-items: flex-start;
    text-align: left;
  }
  .hero__heading {
    text-align: left;
  }
  .hero__p {
    text-align: left;
  }
  .category-section {
    padding-top: 12.5rem;
  }
  .category-section__cards {
    gap: 1.875rem;
  }
  .product-highlights > * {
    margin: 0;
  }
  .category-section.mobile {
    display: none;
  }
  .product-highlight-a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
    overflow-y: hidden;
  }
  .product-highlight-a__img {
    align-self: flex-start;
    background-image: url(/public/assets/home/desktop/image-speaker-zx9.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    left: 5vw;
    width: clamp(150px, 25vw, 650px);
    height: 105%;
  }
  .product-highlight-a__content {
    align-items: flex-start;
    padding: 7.5vw;
  }
  .product-highlight-a__name {
    text-align: left;
  }
  .product-highlight-a__p {
    text-align: left;
    max-width: unset;
  }
  .product-highlight-b {
    background-image: url(/public/assets/home/desktop/image-speaker-zx7.jpg);
  }
  .product-highlight-c__img {
    background-image: url(/public/assets/home/desktop/image-earphones-yx1.jpg);
  }
  .about {
    margin: 10rem 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .about__img {
    background-image: url(/public/assets/shared/desktop/image-best-gear.jpg);
    height: 588px;
  }
  .about__content {
    flex-basis: 50%;
    flex-shrink: 0;
  }
  .about__heading {
    text-align: left;
    margin: 0;
    max-width: 15ch;
  }
  .about__p {
    margin: 0;
    text-align: left;
    max-width: 48ch;
  }
  .footer {
    padding-left: 10.3125rem;
    padding-right: 10.3125rem;
    padding-bottom: 3rem;
  }
  .footer__orange-line {
    left: 10.3125rem;
  }
  .footer__logo-nav-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 2.25rem;
  }
  .footer .nav {
    padding: 0;
  }
  .footer__p {
    max-width: 540px;
  }
  .category-page {
    margin-left: 10.3125rem;
    margin-right: 10.3125rem;
  }
  .category-page-card {
    flex-direction: row;
    gap: 125px;
    align-items: center;
  }
  .category-page-card:nth-of-type(2n) {
    flex-direction: row-reverse;
  }
  .category-page-card__img {
    margin-bottom: 0;
  }
  .category-page-card__content {
    flex-basis: 50%;
    flex-shrink: 0;
    align-items: flex-start;
  }
  .category-page-card__name {
    text-align: left;
  }
  .category-page-card__desc {
    text-align: left;
  }
  .product-detail {
    padding: 5rem 10.3125rem 0;
    max-width: 1500px;
    margin: 0 auto;
  }
  .product-detail__main-flex {
    gap: 7.75rem;
  }
  .product-detail__product-img {
    margin-top: 3.5rem;
  }
  .product-detail__description {
    max-width: 85ch;
  }
  .product-detail__features-box-flex {
    flex-direction: row;
    gap: 7.8125rem;
  }
  .product-detail__in-the-box {
    flex-basis: 145%;
  }
  .product-detail__images-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product-detail__images {
    margin-top: 10rem;
  }
  .product-detail__others {
    margin: 10rem 0 0;
  }
  .product-detail__others-ul {
    gap: 1.875rem;
  }
  .cart {
    right: 10.3125rem;
  }
  .checkout {
    padding: 5rem 10.3125rem 8.75rem;
  }
  .checkout__grid {
    display: grid;
    grid-template-columns: 2.1fr 1fr;
    gap: 30px;
  }
  .checkout__main {
    grid-row-start: 1;
  }
  .checkout__summary {
    align-self: flex-start;
  }
}/*# sourceMappingURL=App.css.map */