@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700&display=swap");
p {
  font-size: 15px;
  font-weight: 500;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope";
}

header {
  background-color: #101010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  border-bottom: 1px solid #3d3d3d;
}

.hero {
  padding: 7rem 2rem;
  background-color: #101010;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./assets/home/mobile/image-header.jpg);
  background-size: cover;
  background-position: bottom 0px left 0;
}

h2 {
  font-size: 2.25rem;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1rem;
  letter-spacing: 1.3px;
  font-weight: 600;
}

.hero small {
  text-transform: uppercase;
  letter-spacing: 10px;
  opacity: 50%;
}

.hero p {
  opacity: 75%;
  letter-spacing: 0.8px;
  margin-top: 1.5rem;
  text-align: center;
}

.hero button {
  display: block;
  margin: 0 auto;
  background-color: #d87d4a;
  color: white;
  border: 0;
  font-size: 0.8125rem;
  text-transform: uppercase;
  padding: 15px 30px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 1.5rem;
}

.home-category-section {
  padding: 5.75rem 1.5rem 0;
}

.home-category-section,
.home-category-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-category-cards {
  list-style-type: none;
  gap: 4.25rem;
}

.home-category-card {
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-bottom: 22px;
  border-radius: 8px;
}

.home-category-photo {
  position: relative;
  bottom: 50px;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.5));
  width: 80px;
  display: block;
  margin: 0;
  background: transparent;
}

.home-category-name {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.07143px;
  font-size: 0.9375rem;
}

.shop-arrow-flex {
  display: flex;
  align-items: center;
  gap: 13.33px;
  padding-top: 1rem;
  cursor: pointer;
}

.home-category__shop {
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}

.product-highlight-a {
  background-color: #d87d4a;
  color: white;
  padding: 55px 1.5rem;
  margin: 7.5rem 1.5rem 0;
  border-radius: 8px;
}
.product-highlight-a .img-container {
  padding: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: relative;
}
.product-highlight-a .img-container::before {
  content: "";
  position: absolute;
  top: -7.5%;
  left: -7.5%;
  width: 115%;
  height: 115%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.product-highlight-a img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.product-highlight-a h2 {
  padding-top: 2rem;
}
.product-highlight-a p {
  opacity: 0.75;
  line-height: 25px;
  letter-spacing: 0.2px;
  text-align: center;
  padding-top: 1.5rem;
}
.product-highlight-a button {
  display: block;
  margin: 0 auto;
  background-color: #d87d4a;
  color: white;
  border: 0;
  font-size: 0.8125rem;
  text-transform: uppercase;
  padding: 15px 30px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  background-color: black;
  margin-top: 1.5rem;
}

h3 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.75rem;
}

.product-highlight-b {
  padding: 100px 1.5rem;
  margin: 1.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  background-image: url(./assets/home/mobile/image-speaker-zx7.jpg);
  background-size: cover;
}
.product-highlight-b button {
  display: block;
  margin: 0 auto;
  background-color: #d87d4a;
  color: white;
  border: 0;
  font-size: 0.8125rem;
  text-transform: uppercase;
  padding: 15px 30px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  margin: 0;
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.product-highlight-c {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1.5rem;
}
.product-highlight-c > * {
  border-radius: 8px;
}
.product-highlight-c img {
  width: 100%;
}
.product-highlight-c > div {
  background-color: #f1f1f1;
  padding: 41px 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.product-highlight-c button {
  display: block;
  margin: 0 auto;
  background-color: #d87d4a;
  color: white;
  border: 0;
  font-size: 0.8125rem;
  text-transform: uppercase;
  padding: 15px 30px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  margin: 0;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  font-weight: 600;
}

.about {
  margin: 7.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.about img {
  width: 100%;
  border-radius: 8px;
}
.about h4 {
  font-weight: 700;
  font-size: 1.75rem;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1px;
}
.about span {
  color: #d87d4a;
}
.about p {
  padding-top: 2rem;
  text-align: center;
  opacity: 50%;
  line-height: 25px;
}

footer {
  background-color: black;
  padding: 3.25rem 1.5rem 2.375rem;
}
footer .footer-nav {
  padding: 3rem 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
footer li {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
  color: white;
}
footer img {
  display: block;
  margin: 0 auto;
}
footer p {
  color: rgb(104, 102, 102);
  text-align: center;
  line-height: 25px;
}
footer small {
  padding: 3rem 0;
  font-weight: 700;
  color: rgb(104, 102, 102);
  font-size: 15px;
  display: block;
  text-align: center;
}
footer .footer-logos {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
footer .footer-logos > * {
  cursor: pointer;
}/*# sourceMappingURL=App.css.map */