@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700&display=swap");
.btn--orange {
  display: block;
  border: 0;
  font-size: 0.8125rem;
  text-transform: uppercase;
  padding: 15px 30px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  background-color: #d87d4a;
  color: white;
}

.btn--black {
  display: block;
  border: 0;
  font-size: 0.8125rem;
  text-transform: uppercase;
  padding: 15px 30px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  background-color: black;
  color: white;
}

.btn--black-border {
  display: block;
  border: 0;
  font-size: 0.8125rem;
  text-transform: uppercase;
  padding: 15px 30px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.new-product {
  font-size: 0.875rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: gray;
  display: block;
}

.new-product--orange {
  font-size: 0.875rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: gray;
  display: block;
  color: #d87d4a;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

img {
  max-width: 100%;
  display: block;
}

h3,
h4 {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.75rem;
  line-height: 38.25px;
}

h4 {
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope";
}

main {
  position: relative;
}

.header {
  background-color: #101010;
}

.header__container {
  background-color: #101010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  border-bottom: 1px solid #3d3d3d;
  height: 90px;
}
.header__container__hamburger, .header__container__cart-icon {
  cursor: pointer;
}
.header__container .nav {
  display: none;
}

.hero {
  padding: 7rem 2rem;
  background-color: #101010;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: bottom 0px left 0px;
  background-image: url("/public/assets/home/mobile/image-header.jpg");
}
.hero__heading {
  font-size: 2.25rem;
  line-height: 40px;
  text-align: center;
  padding-top: 1rem;
  letter-spacing: 1.3px;
  font-weight: 600;
  max-width: 12ch;
}
.hero__p {
  opacity: 75%;
  letter-spacing: 0.8px;
  padding-top: 1.5rem;
  text-align: center;
}
.hero .btn {
  margin-top: 1.5rem;
}

.home {
  margin: 0 1.5rem;
}

.category-section {
  padding-top: 5.75rem;
  background-color: white;
}
.category-section__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 4.25rem;
}

.category-section-card {
  width: 100%;
  background-color: #f1f1f1;
  position: relative;
  padding: 88px 0 22px;
  border-radius: 8px;
}
.category-section-card--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-section-card__img {
  position: absolute;
  bottom: 43.5%;
  width: 155px;
  display: block;
  margin: 0;
  background: transparent;
}
.category-section-card__name {
  font-weight: 600;
  letter-spacing: 1.07143px;
  font-size: 0.9375rem;
}
.category-section-card__shop-arrow {
  display: flex;
  align-items: center;
  gap: 13.33px;
  padding-top: 1rem;
  cursor: pointer;
}
.category-section-card__shop {
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}

.product-highlights {
  display: flex;
  flex-direction: column;
  margin-top: 7.5rem;
  gap: 1.5rem;
}

.product-highlight-a {
  background-color: #d87d4a;
  color: white;
  padding: 55px 1.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-highlight-a__name {
  padding-top: 2rem;
  line-height: 40px;
  font-size: 2.25rem;
  text-align: center;
}
.product-highlight-a__img {
  background-image: url(/public/assets/home/mobile/image-speaker-zx9.png);
  width: 197.21px;
  height: 237px;
  background-size: cover;
}
.product-highlight-a__desc {
  opacity: 0.75;
  line-height: 25px;
  letter-spacing: 0.2px;
  text-align: center;
  padding-top: 1.5rem;
  max-width: 23rem;
}
.product-highlight-a .btn {
  display: block;
  border: 0;
  font-size: 0.8125rem;
  text-transform: uppercase;
  padding: 15px 30px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  background-color: black;
  margin-top: 1.5rem;
}

.product-highlight-b {
  padding: 100px 1.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  background-image: url(/public/assets/home/mobile/image-speaker-zx7.jpg);
  background-size: cover;
}

.product-highlight-c {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.product-highlight-c__img {
  border-radius: 8px;
  background-size: cover;
  background-image: url(/public/assets/home/mobile/image-earphones-yx1.jpg);
  height: 200px;
}
.product-highlight-c__main {
  border-radius: 8px;
  background-color: #f1f1f1;
  padding: 41px 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.about {
  margin: 7.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.about__img {
  width: 100%;
  height: 327px;
  border-radius: 8px;
  background-image: url(/public/assets/shared/mobile/image-best-gear.jpg);
  background-size: cover;
}
.about__heading {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1px;
}
.about__heading--highlight {
  color: #d87d4a;
}
.about__p {
  padding-top: 2rem;
  text-align: center;
  opacity: 50%;
  line-height: 25px;
}

.footer {
  background-color: black;
  padding: 3.25rem 1.5rem 2.375rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__orange-line {
  width: 100px;
  height: 4px;
  background-color: #d87d4a;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.footer .logo {
  cursor: pointer;
}
.footer__p {
  color: rgb(104, 102, 102);
  text-align: center;
  line-height: 25px;
}
.footer__copyright-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  gap: 3rem;
}
.footer__copyright {
  font-weight: 700;
  color: rgb(104, 102, 102);
  font-size: 15px;
  display: block;
  text-align: center;
}
.footer__logos {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer__logos__logo {
  cursor: pointer;
}

.nav {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.nav__item {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
  color: white;
}

/*** Category Page ***/
.category-page__heading {
  padding-top: 1.5rem;
  font-size: 1.75rem;
  line-height: 38.25px;
  padding: 1.5rem 1.75rem 1.75rem;
  text-align: center;
  background-color: black;
  color: white;
  letter-spacing: 2px;
}
.category-page__cards {
  margin: 1.5rem 1.5rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
}

.category-page-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-page-card .new-product--orange {
  margin-bottom: 1.5rem;
}
.category-page-card__img {
  margin-bottom: 2rem;
  border-radius: 8px;
}
.category-page-card__desc {
  text-align: center;
  font-size: 0.9375rem;
  opacity: 0.5;
  font-weight: 400;
  line-height: 25px;
  padding-top: 1.5rem;
}
.category-page-card .btn {
  margin-top: 1.5rem;
}

/*** Product Detail Page ***/
.product-detail {
  padding: 1rem 1.5rem;
}
.product-detail__go-back {
  cursor: pointer;
  opacity: 0.5;
  display: inline;
}
.product-detail__product-img {
  border-radius: 8px;
  margin: 1.5rem 0 0;
  width: 100%;
}
.product-detail__product-img.new {
  margin-bottom: 2rem;
}
.product-detail__name {
  padding-top: 2.5rem;
}
.product-detail__name.new {
  padding-top: 1.5rem;
}
.product-detail__p {
  padding-top: 1.5rem;
  line-height: 25px;
  opacity: 0.5;
  font-size: 0.9375rem;
  white-space: pre-wrap;
}
.product-detail__price {
  font-size: 1.125rem;
  font-weight: 600;
  display: block;
  padding-top: 1.5rem;
}
.product-detail__amount-and-btn {
  display: flex;
  gap: 1rem;
  justify-content: start;
  padding-top: 2rem;
}
.product-detail__amount-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 1rem;
  gap: 1.25rem;
  width: 120px;
  font-weight: 700;
}
.product-detail .quantity-operator {
  opacity: 0.5;
  cursor: pointer;
}
.product-detail__subheading {
  text-align: center;
  padding-top: 5.5rem;
}
.product-detail__includes {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product-detail__includes-item {
  display: flex;
  align-items: center;
  gap: 21px;
}
.product-detail__includes-item__amount {
  color: #d87d4a;
  width: 20px;
  font-weight: 700;
}
.product-detail__includes-item__name {
  flex: 1;
  opacity: 0.5;
}
.product-detail__images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  margin-top: 5.5rem;
}
.product-detail__images img {
  border-radius: 8px;
}
.product-detail__others {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding: 2.5rem 0 5rem;
}
.product-detail__other {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-detail__other__name {
  padding: 2rem 0;
}
.product-detail__other__img {
  border-radius: 8px;
}

.cart {
  z-index: 1;
  position: fixed;
  left: 50%;
  top: calc(90px + 1.5rem);
  transform: translateX(-50%);
  background-color: white;
  padding: 2rem 1.75rem;
  border-radius: 8px;
  width: calc(100% - 3rem);
}
.cart h1 {
  background-color: white;
  color: black;
  font-size: 1.125rem;
  padding: 0;
}
.cart .cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart .remove-all {
  border: 0;
  opacity: 0.5;
  background-color: white;
  text-decoration: underline;
  text-decoration-thickness: 0.01em;
  font-size: 0.9375rem;
}
.cart .cart-rows {
  padding-top: 2rem;
}
.cart .cart-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cart .name-and-price {
  margin-right: auto;
}
.cart .price {
  opacity: 0.5;
}
.cart img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
}
.cart .total-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart .total-word {
  font-size: 0.9375rem;
  opacity: 0.5;
  text-transform: uppercase;
}
.cart .total-number {
  font-size: 1.125rem;
}
.cart button {
  display: block;
  border: 0;
  font-size: 0.8125rem;
  text-transform: uppercase;
  padding: 15px 30px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
  margin-top: 1.5rem;
}

/*
******************************************
Tablet
******************************************
*/
@media (min-width: 750px) {
  .header {
    gap: 2.625rem;
  }
  .header .cart-icon {
    margin-left: auto;
  }
  .hero {
    background-image: url("/public/assets/home/tablet/image-header.jpg");
    padding: 7.875rem 11.625rem 10.5rem;
  }
  .hero__heading {
    font-size: 3.5rem;
    line-height: 3.6125rem;
    padding-top: 1.5rem;
  }
  .hero__p {
    padding-top: 1.5rem;
    line-height: 25px;
    max-width: 400px;
  }
  .home {
    margin: 0 2.5rem;
  }
  .category-section {
    padding: 9.25rem 0 0;
  }
  .category-section__cards {
    gap: 0.6125rem;
    flex-direction: row;
  }
  .product-highlights {
    gap: 2rem;
  }
  .product-highlight-a__name {
    font-size: 3.5rem;
    line-height: 3.6125rem;
  }
  .product-highlight-a__img {
    background-image: url(/public/assets/home/tablet/image-speaker-zx9.png);
  }
  .product-highlight-b {
    background-image: url(/public/assets/home/tablet/image-speaker-zx7.jpg);
    padding: 100px 3.875rem;
  }
  .product-highlight-c {
    flex-direction: row;
    gap: 11px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-highlight-c__img {
    background-image: url(/public/assets/home/tablet/image-earphones-yx1.jpg);
    background-position: center center;
    height: 100%;
  }
  .product-highlight-c__main {
    padding: 100px 40px;
  }
  .about {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    gap: 4rem;
  }
  .about__img {
    background-image: url(/public/assets/shared/tablet/image-best-gear.jpg);
    background-position: center;
  }
  .about__heading {
    padding-top: 0;
    font-size: 2.5rem;
    line-height: 2.75rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  .about__p {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  .nav {
    padding: 2rem 0;
    flex-direction: row;
    gap: 2.125rem;
  }
  .footer {
    padding: 3.75rem 2.5rem 2.875rem;
    align-items: flex-start;
  }
  .footer .orange-line {
    transform: unset;
    left: 2.5rem;
  }
  .footer__copyright-logos {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__p {
    text-align: left;
  }
  .category-page {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .category-page__heading {
    font-size: 2.5rem;
    padding: 105px 0 97px;
  }
  .category-page__cards {
    margin: 7.5rem 0 0;
  }
  .category-page-card__picture {
    width: 100%;
  }
  .category-page-card__img {
    width: 100%;
    height: auto;
    margin-bottom: 3.25rem;
  }
  .category-page-card .new-product--orange {
    margin-bottom: 1rem;
  }
  .category-page-card__name {
    font-size: 2.5rem;
    line-height: 44px;
    max-width: 300px;
    text-align: center;
    padding-top: 0;
  }
  .category-page-card__desc {
    max-width: 565px;
  }
  .category-section {
    padding-top: 10.75rem;
  }
  .about__heading {
    margin: 0 5rem;
  }
  .footer__orange-line {
    transform: none;
    left: 2.5rem;
  }
  .product-detail {
    padding: 2rem 2.5rem;
  }
  .product-detail__flex {
    display: flex;
    align-items: center;
    gap: 4.375rem;
  }
  .product-detail__picture {
    width: 100%;
  }
  .product-detail__subheading {
    text-align: left;
  }
  .product-detail__in-the-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 7.5rem;
  }
  .product-detail__in-the-box > * {
    padding-top: 0;
  }
  .product-detail__images {
    display: grid;
    grid-template: 1fr 1fr/0.7fr 1fr;
  }
  .product-detail__images--third {
    grid-row: 1/span 2;
    grid-column: 2;
  }
  .product-detail__others {
    flex-direction: row;
    gap: 11px;
  }
}
@media (min-width: 1200px) {
  .header {
    background-color: #191919;
    padding: 0 10.3125rem;
  }
  .header .nav {
    display: flex;
  }
  .header__container {
    background-color: #191919;
    padding: 0;
  }
  .header__hamburger {
    display: none;
  }
  .hero {
    background-image: url("/public/assets/home/desktop/image-hero.jpg");
    align-items: flex-start;
    text-align: left;
  }
  .hero__heading {
    text-align: left;
  }
  .hero__p {
    text-align: left;
  }
  .home {
    margin-left: 10.3125rem;
    margin-right: 10.3125rem;
  }
}/*# sourceMappingURL=App.css.map */