@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700&display=swap");

$Orange: #d87d4a;
$Light-Orange: #fbaf85;
$Almost-Black: #101010;
$Almost-Black: #101010;
$Light-Gray: #f1f1f1;
$Very-Light-Gray: #fafafa;
$Gray: #979797;
$Dark-Gray: #4c4c4c;

@mixin modal {
  z-index: 3;
  position: fixed;
  left: 50%;
  top: calc(90px + 1.5rem);
  transform: translateX(-50%);
  background-color: white;
  padding: 2rem 1.75rem;
  border-radius: 8px;
  width: calc(100% - 3rem);
  max-width: 377px;
  box-shadow: 0px 300px 10px 10000px rgba(0, 0, 0, 0.5);
}

@mixin btn {
  display: block;
  border: 0;
  font-size: 0.8125rem;
  text-transform: uppercase;
  padding: 15px 30px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
}

.btn--orange {
  @include btn;
  background-color: $Orange;
  color: white;
  &:hover {
    background-color: $Light-Orange;
  }
}

.btn--black {
  @include btn;
  background-color: black;
  color: white;
  &:hover {
    background-color: $Dark-Gray;
  }
}

.btn--black-border {
  @include btn;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  &:hover {
    background-color: black;
    color: white;
  }
}

@mixin new-product {
  font-size: 0.875rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: gray;
  display: block;
}

.new-product {
  @include new-product;
}

.new-product--orange {
  @include new-product;
  color: $Orange;
}

.go-back {
  cursor: pointer;
  opacity: 0.5;
  display: inline;
  &:hover {
    color: $Orange;
  }
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

img {
  max-width: 100%;
  display: block;
}

h3,
h4 {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.75rem;
  line-height: 38.25px;
}
h4 {
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
}

*,
*::before,
*::after,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}

main {
  position: relative;
}

.header {
  background-color: $Almost-Black;
}

.header__container {
  background-color: $Almost-Black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  border-bottom: 1px solid #3d3d3d;
  height: 90px;
  .hamburger,
  .cart-icon {
    cursor: pointer;
    &:hover {
      filter: invert(80%) sepia(30%) saturate(6866%) hue-rotate(389deg)
        brightness(122%) contrast(82%);
    }
  }
  .nav {
    display: none;
  }
}

.hero {
  padding: 7rem 2rem;
  background-color: $Almost-Black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: bottom 0px left 0px;
  background-image: url("/public/assets/home/mobile/image-header.jpg");
  &__heading {
    font-size: 2.25rem;
    line-height: 40px;
    text-align: center;
    padding-top: 1rem;
    letter-spacing: 1.3px;
    font-weight: 600;
    max-width: 12ch;
  }
  &__p {
    opacity: 75%;
    letter-spacing: 0.8px;
    padding-top: 1.5rem;
    text-align: center;
  }
  .btn {
    margin-top: 1.5rem;
  }
}

.category-section {
  padding-top: 5.75rem;
  background-color: white;
  margin: 0 1.5rem;
  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 4.25rem;
  }
  &.mobile {
    position: fixed;
    box-shadow: 0px 500px 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 0px 0px 8px 8px;
    width: 100%;
    margin: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2.25rem;
  }
}

.category-section-card {
  width: 100%;
  background-color: $Light-Gray;
  position: relative;
  padding: 88px 0 22px;
  border-radius: 8px;
  &--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__img {
    position: absolute;
    bottom: 43.5%;
    width: 155px;
    display: block;
    margin: 0;
    background: transparent;
  }
  &__name {
    font-weight: 600;
    letter-spacing: 1.07143px;
    font-size: 0.9375rem;
  }
  &__shop-arrow {
    display: flex;
    align-items: center;
    gap: 13.33px;
    padding-top: 1rem;
    cursor: pointer;
  }
  &__shop {
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  &:hover &__shop {
    color: $Orange;
  }
}

.product-highlights {
  display: flex;
  flex-direction: column;
  margin-top: 7.5rem;
  gap: 1.5rem;
}

.product-highlight-a {
  margin: 0 1.5rem;
  background-color: $Orange;
  color: white;
  padding: 55px 1.5rem;
  border-radius: 8px;
  &__img {
    background-image: url(/public/assets/home/mobile/image-speaker-zx9.png);
    width: 197.21px;
    height: 237px;
    background-size: cover;
    margin: 0 auto;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__name {
    padding-top: 2rem;
    line-height: 40px;
    font-size: 2.25rem;
    text-align: center;
  }
  &__p {
    opacity: 0.75;
    line-height: 25px;
    letter-spacing: 0.2px;
    text-align: center;
    padding-top: 1.5rem;
    max-width: 23rem;
  }
  .btn {
    margin-top: 1.5rem;
  }
}

.product-highlight-b {
  padding: 100px 1.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  background-image: url(/public/assets/home/mobile/image-speaker-zx7.jpg);
  background-size: cover;
  margin: 0 1.5rem;
}

.product-highlight-c {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 1.5rem;
  &__img {
    border-radius: 8px;
    background-size: cover;
    background-image: url(/public/assets/home/mobile/image-earphones-yx1.jpg);
    height: 200px;
  }
  &__main {
    border-radius: 8px;
    background-color: $Light-Gray;
    padding: 41px 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
}

.about {
  margin: 7.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  &__img {
    width: 100%;
    height: 327px;
    border-radius: 8px;
    background-image: url(/public/assets/shared/mobile/image-best-gear.jpg);
    background-size: cover;
  }

  &__heading {
    font-weight: 700;
    font-size: 1.75rem;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
    &--highlight {
      color: $Orange;
    }
  }

  &__p {
    padding-top: 2rem;
    text-align: center;
    opacity: 50%;
    line-height: 25px;
  }
}

.footer {
  background-color: black;
  padding: 3.25rem 1.5rem 2.375rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__orange-line {
    width: 100px;
    height: 4px;
    background-color: $Orange;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__p {
    color: rgb(104, 102, 102);
    text-align: center;
    line-height: 25px;
    font-size: 0.9375rem;
  }
  &__copyright-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    gap: 3rem;
  }
  &__copyright {
    font-weight: 700;
    color: rgb(104, 102, 102);
    font-size: 15px;
    display: block;
    text-align: center;
  }
  &__logos {
    display: flex;
    align-items: center;
    gap: 1rem;
    &__logo {
      cursor: pointer;
      &:hover {
        filter: invert(80%) sepia(30%) saturate(6866%) hue-rotate(389deg)
          brightness(122%) contrast(82%);
      }
    }
  }
}

.nav {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  &__item {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
    &:hover {
      color: $Orange;
    }
  }
}

/*** Category Page (ie. HEADPHONERS, SPEAKERS, EARPHONES ***/

.category {
  &__heading {
    padding-top: 1.5rem;
    font-size: 1.75rem;
    line-height: 38.25px;
    padding: 1.5rem 1.75rem 1.75rem;
    text-align: center;
    background-color: black;
    color: white;
    letter-spacing: 2px;
  }
}
.category-page {
  &__cards {
    margin: 1.5rem 1.5rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
  }
}

.category-page-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__name {
    text-align: center;
  }
  .new-product--orange {
    margin-bottom: 1.5rem;
  }
  &__img {
    margin-bottom: 2rem;
    border-radius: 8px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__desc {
    text-align: center;
    font-size: 0.9375rem;
    opacity: 0.5;
    font-weight: 400;
    line-height: 25px;
    padding-top: 1.5rem;
  }
  .btn {
    margin-top: 1.5rem;
  }
}

/*** Product Detail Page ***/

.product-detail {
  padding: 1rem 1.5rem;
  &__go-back {
    cursor: pointer;
    opacity: 0.5;
    display: inline;
    &:hover {
      color: $Orange;
    }
  }

  &__product-img {
    border-radius: 8px;
    margin: 1.5rem 0 0;
    width: 100%;
    &.new {
      margin-bottom: 2rem;
    }
  }

  &__name {
    padding-top: 2.5rem;
    &.new {
      padding-top: 1.5rem;
    }
  }

  &__p {
    padding-top: 1.5rem;
    line-height: 25px;
    opacity: 0.5;
    font-size: 0.9375rem;
    white-space: pre-wrap;
  }

  &__price {
    font-size: 1.125rem;
    font-weight: 600;
    display: block;
    padding-top: 1.5rem;
  }

  &__amount-and-btn {
    display: flex;
    gap: 1rem;
    justify-content: start;
    padding-top: 2rem;
  }

  &__features-box-flex {
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
    margin-top: 5.5rem;
  }

  .center {
    text-align: center;
  }

  &__includes {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__includes-item {
    display: flex;
    align-items: center;
    gap: 21px;
    &__amount {
      color: $Orange;
      width: 20px;
      font-weight: 700;
    }
    &__name {
      flex: 1;
      opacity: 0.5;
    }
  }
  &__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin-top: 5.5rem;
    img {
      border-radius: 8px;
    }
  }
  &__others {
    margin-top: 5.5rem;
  }

  &__others-ul {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding: 2.5rem 0 0;
  }
  &__other {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__name {
      padding: 2rem 0;
    }
    &__img {
      border-radius: 8px;
    }
  }
}

.quantity-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $Light-Gray;
  padding: 1rem;
  gap: 1.25rem;
  width: 120px;
  font-weight: 700;
  &__operator {
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      color: $Orange;
    }
  }
}

.cart {
  @include modal;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__heading {
    background-color: white;
    color: black;
    font-size: 1.125rem;
    padding: 0;
    letter-spacing: 1.29px;
  }
  &__remove-all {
    border: 0;
    opacity: 0.5;
    background-color: white;
    text-decoration: underline;
    text-decoration-thickness: 0.01em;
    font-size: 0.9375rem;
    cursor: pointer;
    &:hover {
      color: $Orange;
    }
  }
  &__empty {
    text-align: center;
    padding-top: 1rem;
  }
  &__rows {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  &__row {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__name-and-price {
    margin-right: auto;
  }
  &__price {
    opacity: 0.5;
    font-weight: 700;
  }
  &__img {
    width: 64px;
    height: 64px;
    border-radius: 8px;
  }

  .btn {
    width: 100%;
    margin-top: 1.5rem;
  }
}

.total-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 1.125rem;
  &__item {
    font-size: 0.9375rem;
    opacity: 0.5;
    text-transform: uppercase;
  }
}

.checkout {
  background-color: $Very-Light-Gray;
  padding: 1rem 1.5rem;
}

.checkout__main {
  background-color: #fff;
  margin-top: 1.5rem;
  padding: 1.5rem 1.5rem 2rem;
  border-radius: 8px;
  &__heading {
    padding-bottom: 0;
    font-size: 1.75rem;
    letter-spacing: 1px;
  }
  &__subheading {
    color: $Orange;
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: 700;
    letter-spacing: 0.93px;
    display: block;
    padding-top: 2rem;
  }
  &__label {
    font-size: 0.75rem;
    display: block;
    padding-top: 1rem;
    font-weight: 700;
  }
  &__radio-label {
    padding-left: 21px;
  }
  &__input {
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    padding: 1.125rem 1.5rem;
    font-size: 0.875rem;
    &:focus {
      outline: 0;
    }
  }
  &__input:not(.checkout__main__input--radio) {
    margin-top: 9px;
    display: block;
    width: 100%;
  }
  &__radio-container {
    margin-top: 9px;
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    align-items: center;
    justify-content: start;
    font-size: 13px;
    padding: 1.125rem 1.5rem;
    position: relative;
    &:last-of-type {
      margin: 1rem 0;
    }
  }
  &__radio-label {
    font-weight: 700;
    font-size: 0.875rem;
    cursor: pointer;
    padding-left: 4rem;
    margin-left: -2rem;
    z-index: 2;
  }
  &__input--radio {
    display: none;
  }
  & span {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #cfcfcf;
    display: block;
    position: absolute;
    left: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
  }
  & span::after {
    content: "";
    height: 10px;
    width: 10px;
    background: $Orange;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
  }
  &__input--radio:checked ~ span::after {
    transform: translate(-50%, -50%) scale(1);
  }
}

.checkout__summary {
  padding: 2rem 1.5rem;
  background-color: #fff;
  margin: 2rem 0 6rem;
  border-radius: 8px;
  &__heading {
    font-size: 1.125rem;
    letter-spacing: 1.129px;
  }
  &__name,
  &__quantity {
    font-weight: 700;
  }

  &__cart-ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 2rem;
  }
  &__li {
    display: flex;
    gap: 1rem;
  }
  &__info-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  &__name-quantity-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__img {
    width: 4rem;
    max-height: 4rem;
    border-radius: 8px;
  }
  &__quantity {
    margin-left: auto;
    color: $Gray;
  }
  &__review-ul {
    padding-top: 2rem;
    .total-flex {
      margin-top: 0.5rem;
      &:last-of-type {
        margin-top: 1.5rem;
        strong {
          color: $Orange;
        }
      }
    }
  }
  .btn {
    width: 100%;
    margin-top: 2rem;
  }
}

.conf-modal {
  @include modal;
  &__heading {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    line-height: 28px;
  }
  &__p {
    color: $Dark-Gray;
    padding-top: 1rem;
    line-height: 25px;
    font-size: 0.9375rem;
  }
  &__flex {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  &__flex--light {
    background-color: $Light-Gray;
    padding: 1.5rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    &-btm {
      text-align: center;
      font-size: 0.75rem;
      padding-top: 0.75rem;
      font-weight: 600;
      color: $Dark-Gray;
      border-top: 1px solid rgba(black, 0.08);
    }
  }

  .checkout__summary__cart-ul {
    padding-top: 0;
  }

  .summary__quantity,
  .checkout__cart__price {
    color: $Dark-Gray;
    font-weight: 600;
  }

  &__flex--dark {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: black;
    padding: 1rem 1.5rem 1.25rem;
  }
  &__total-heading {
    color: $Gray;
    text-transform: uppercase;
    font-weight: 300;
  }
  &__total {
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
    padding-top: 0.5rem;
  }

  .btn--orange {
    margin-top: 1.5rem;
    width: 100%;
  }
}

/*
******************************************
Tablet
******************************************
*/

@media (min-width: 750px) {
  .header {
    gap: 2.625rem;
    margin: 0;
    &__container {
      justify-content: space-between;
    }
  }

  .hero {
    background-image: url("/public/assets/home/tablet/image-header.jpg");
    padding: 7.875rem 10.3125rem 10.5rem;
    &__heading {
      font-size: 3.5rem;
      line-height: 3.6125rem;
      padding-top: 1.5rem;
    }
    &__p {
      padding-top: 1.5rem;
      line-height: 25px;
      max-width: 400px;
    }
  }

  .home {
    margin: 0 2.5rem;
  }

  .header {
    margin: 0;
  }

  .category-section {
    padding: 9.25rem 0 0;
    margin-left: 0;
    margin-right: 0;
    &__cards {
      gap: 0.6125rem;
      flex-direction: row;
    }
    &.mobile {
      padding-top: 6.75rem;
      box-shadow: 0px 300px 10px 10000px rgba(0, 0, 0, 0.5);
    }
  }

  .product-highlights {
    gap: 2rem;
  }

  .product-highlight-a,
  .product-highlight-b,
  .product-highlight-c {
    margin: 0;
  }

  .product-highlight-a {
    &__name {
      font-size: 3.5rem;
      line-height: 3.6125rem;
    }
    &__img {
      background-image: url(/public/assets/home/tablet/image-speaker-zx9.png);
    }
  }

  .product-highlight-b {
    background-image: url(/public/assets/home/tablet/image-speaker-zx7.jpg);
    padding: 100px 3.875rem;
  }

  .product-highlight-c {
    flex-direction: row;
    gap: 11px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &__img {
      background-image: url(/public/assets/home/tablet/image-earphones-yx1.jpg);
      background-position: center center;
      height: 100%;
    }
    &__main {
      padding: 100px 40px;
    }
  }

  .about {
    margin-left: 0;
    margin-right: 0;
    gap: 4rem;
    &__img {
      background-image: url(/public/assets/shared/tablet/image-best-gear.jpg);
      background-position: center;
    }
    &__heading {
      padding-top: 0;
      font-size: 2.5rem;
      line-height: 2.75rem;
      margin-left: 2.5rem;
      margin-right: 2.5rem;
    }
    &__p {
      margin-left: 2.5rem;
      margin-right: 2.5rem;
    }
  }

  .nav {
    padding: 2rem 0;
    flex-direction: row;
    gap: 2.125rem;
  }

  .footer {
    padding: 3.75rem 2.5rem 2.875rem;
    align-items: flex-start;
    .orange-line {
      transform: unset;
      left: 2.5rem;
    }

    &__copyright-logos {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
    &__p {
      text-align: left;
    }
  }

  .category {
    &__heading {
      font-size: 2.5rem;
      padding: 105px 0 97px;
    }
  }

  .category-page {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    &__cards {
      margin: 7.5rem 0 0;
    }
  }
  .category-page-card {
    &__picture {
      width: 100%;
    }
    &__img {
      width: 100%;
      height: auto;
      margin-bottom: 3.25rem;
    }
    .new-product--orange {
      margin-bottom: 1rem;
    }
    &__name {
      font-size: 2.5rem;
      line-height: 44px;
      max-width: 300px;
      text-align: center;
      padding-top: 0;
    }
    &__desc {
      max-width: 565px;
    }
  }

  .category-section {
    padding-top: 10.75rem;
  }

  .about {
    &__heading {
      margin: 0 5rem;
    }
  }
  .footer {
    &__orange-line {
      transform: none;
      left: 2.5rem;
    }
  }

  .product-detail {
    padding: 2rem 2.5rem;
    &__main-flex {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4.375rem;
    }
    &__subheading {
      text-align: left;
    }

    &__features-box-flex {
      &__in-the-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        & > * {
          padding-top: 0;
        }
      }
    }
    &__images {
      display: grid;
      grid-template: 1fr 1fr / 0.7fr 1fr;

      &--third {
        grid-row: 1 / span 2;
        grid-column: 2;
      }
    }
    &__others-ul {
      flex-direction: row;
      gap: 11px;
    }
  }

  .cart {
    position: fixed;
    left: 50%;
    transform: translateX(0%);
    right: 2.5rem;
    margin-left: auto;
  }

  .checkout__main {
    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem 1rem;
    }
    &__address {
      grid-column: 1 / 3;
    }
    &__cash-on-d {
      grid-column: 2 / 3;
    }
  }

  .conf-modal {
    max-width: 540px;
    &__heading {
      margin-top: 2rem;
      font-size: 2rem;
      line-height: 36px;
    }
    &__flex {
      flex-direction: row;
      width: 100%;
    }
    &__flex--light {
      border-radius: 0;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    .summary__quantity {
      margin-left: 2.625rem;
    }
    &__flex--dark {
      border-radius: 0;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

/*
******************************************
Desktop
******************************************
*/

@media (min-width: 1200px) {
  .header {
    background-color: #191919;
    padding: 0 10.3125rem;
    .nav {
      display: flex;
    }
    &__container {
      background-color: #191919;
      padding: 0;
    }
    .hamburger {
      display: none;
    }
  }

  .home {
    margin-left: 10.3125rem;
    margin-right: 10.3125rem;
  }

  .hero {
    background-image: url("/public/assets/home/desktop/image-hero.jpg");
    align-items: flex-start;
    text-align: left;
    &__heading {
      text-align: left;
    }
    &__p {
      text-align: left;
    }
  }

  .category-section {
    padding-top: 12.5rem;
    &__cards {
      gap: 1.875rem;
    }
  }

  .product-highlights > * {
    margin: 0;
  }

  .category-section.mobile {
    display: none;
  }

  .product-highlight-a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
    overflow-y: hidden;
    &__img {
      align-self: flex-start;
      background-image: url(/public/assets/home/desktop/image-speaker-zx9.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      position: relative;
      left: 5vw;
      width: clamp(150px, 25vw, 650px);
      height: 105%;
    }
    &__content {
      align-items: flex-start;
      padding: 7.5vw;
    }
    &__name {
      text-align: left;
    }
    &__p {
      text-align: left;
      max-width: unset;
    }
  }

  .product-highlight-b {
    background-image: url(/public/assets/home/desktop/image-speaker-zx7.jpg);
  }
  .product-highlight-c {
    &__img {
      background-image: url(/public/assets/home/desktop/image-earphones-yx1.jpg);
    }
  }
  .about {
    margin: 10rem 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    &__img {
      background-image: url(/public/assets/shared/desktop/image-best-gear.jpg);
      height: 588px;
    }
    &__content {
      flex-basis: 50%;
      flex-shrink: 0;
    }

    &__heading {
      text-align: left;
      margin: 0;
      max-width: 15ch;
    }
    &__p {
      margin: 0;
      text-align: left;
      max-width: 48ch;
    }
  }
  .footer {
    padding-left: 10.3125rem;
    padding-right: 10.3125rem;
    padding-bottom: 3rem;
    &__orange-line {
      left: 10.3125rem;
    }
    &__logo-nav-flex {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-bottom: 2.25rem;
    }
    .nav {
      padding: 0;
    }
    &__p {
      max-width: 540px;
    }
  }

  .category-page {
    margin-left: 10.3125rem;
    margin-right: 10.3125rem;
  }

  .category-page-card {
    flex-direction: row;
    gap: 125px;
    align-items: center;
    &:nth-of-type(2n) {
      flex-direction: row-reverse;
    }
    &__img {
      margin-bottom: 0;
    }
    &__content {
      flex-basis: 50%;
      flex-shrink: 0;
      align-items: flex-start;
    }
    &__name {
      text-align: left;
    }
    &__desc {
      text-align: left;
    }
  }

  .product-detail {
    padding: 5rem 10.3125rem 0;
    max-width: 1500px;
    margin: 0 auto;
    &__main-flex {
      gap: 7.75rem;
    }
    &__product-img {
      margin-top: 3.5rem;
    }
    &__description {
      max-width: 85ch;
    }
    &__features-box-flex {
      flex-direction: row;
      gap: 7.8125rem;
    }
    &__in-the-box {
      flex-basis: 145%;
    }
    &__images-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__images {
      margin-top: 10rem;
    }
    &__others {
      margin: 10rem 0 0;
    }
    &__others-ul {
      gap: 1.875rem;
    }
  }

  .cart {
    right: 10.3125rem;
  }

  .checkout {
    padding: 5rem 10.3125rem 8.75rem;
    &__grid {
      display: grid;
      grid-template-columns: 2.1fr 1fr;
      gap: 30px;
    }
    &__main {
      grid-row-start: 1;
    }
    &__summary {
      align-self: flex-start;
    }
  }
}
